.container-fluid
  .col-sm-offset-1.col-sm-10.col-sm-offset-1
    %button.btn.btn-primary.btn-sm.pull-right{"data-target" => "#myModal", "data-toggle" => "modal"}
      Add new Service
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#tuning"} Tuning
      %li
        %a{"data-toggle" => "tab", href: "#repair"} Repair
      %li
        %a{"data-toggle" => "tab", href: "#restoration"} Restoration
      %li
        %a{"data-toggle" => "tab", href: "#piano_disc"} Piano Disc
      %li
        %a{"data-toggle" => "tab", href: "#moving"} Moving
    / Tab panes
    .tab-content
      #tuning.tab-pane.active
        .col-sm-12
          %br
          %table.table.table-hover
            %thead
              %tr
                %th Service
                %th Cost
                %th Duration
                %th Customer View
                %th Update 
            %tbody
              - @services.each do |f|
                - if f.category == "Tuning"
                  %tr
                    %td= f.name
                    %td= f.cost
                    %td= f.duration
                    %td= f.customer_view
                    %td= link_to "Update", edit_service_path(f), class: "button btn btn-xs btn-warning"
      #repair.tab-pane
        .col-sm-12
          %br
          %table.table.table-hover
            %thead
              %tr
                %th Service
                %th Cost
                %th Duration
                %th Customer View
                %th Update 
            %tbody
              - @services.each do |f|
                - if f.category == "Repair"
                  %tr
                    %td= f.name
                    %td= f.cost
                    %td= f.duration
                    %td= f.customer_view
                    %td= link_to "Update", edit_service_path(f), class: "button btn btn-xs btn-warning"
      #restoration.tab-pane
        .col-sm-12
          %br
          %table.table.table-hover
            %thead
              %tr
                %th Service
                %th Cost
                %th Duration
                %th Customer View
                %th Update 
            %tbody
              - @services.each do |f|
                - if f.category == "Restoration"
                  %tr
                    %td= f.name
                    %td= f.cost
                    %td= f.duration
                    %td= f.customer_view
                    %td= link_to "Update", edit_service_path(f), class: "button btn btn-xs btn-warning"
      #piano_disc.tab-pane
        .col-sm-12
          %br
          %table.table.table-hover
            %thead
              %tr
                %th Service
                %th Cost
                %th Duration
                %th Customer View
                %th Update 
            %tbody
              - @services.each do |f|
                - if f.category == "Piano Disc"
                  %tr
                    %td= f.name
                    %td= f.cost
                    %td= f.duration
                    %td= f.customer_view
                    %td= link_to "Update", edit_service_path(f), class: "button btn btn-xs btn-warning"
      #moving.tab-pane
        .col-sm-12
          %br
          %table.table.table-hover
            %thead
              %tr
                %th Service
                %th Cost
                %th Duration
                %th Customer View
                %th Update 
            %tbody
              - @services.each do |f|
                - if f.category == "Moving"
                  %tr
                    %td= f.name
                    %td= f.cost
                    %td= f.duration
                    %td= f.customer_view
                    %td= link_to "Update", edit_service_path(f), class: "button btn btn-xs btn-warning"

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Add a new service
        %br
        = form_for @new_service do |f|
          = f.text_field :name, :placeholder => "Service Name", :class => "form-control"
          %br
          .input-group.input-group
            %span.input-group-addon
              %span.glyphicon.glyphicon-usd
            = f.text_field :cost, :placeholder => "Service Cost", :class => "form-control" 
          %br
          .input-group.input-group
            %span.input-group-addon
              %span.glyphicon.glyphicon-dashboard     
            = f.text_field :duration, :placeholder => "Time", :class => "form-control"
          %br 
          = f.select :category, options_for_select(["Tuning", "Repair", "Restoration", "Moving", "Piano Disc"]), {:include_blank => true}, {:class => "form-control"}
          %br         
          = f.text_area :description, :placeholder => "Description of Service", :class => "form-control"
          %br
          = f.check_box :customer_view
          %br
          = f.hidden_field :company_id, value: current_user.company.id
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Add Service", :class => "btn btn-success"