.header
  .container.col-sm-offset-4.col-sm-4.col-sm-offset-4
    %form.form-signin{role: "form"}
    %h4.form-signin-heading Change your password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      %div
      = f.password_field :password, :placeholder => "Password", autocomplete: "off", class: "input form-control"
      %br
      = f.password_field :password, :placeholder => "Confirm Password", autocomplete: "off", class: "input form-control"
      %br
      %div= f.submit "Sign up", class: "button btn btn-lg btn-primary btn-block btn-embossed"
      %br
    = render "devise/shared/links"