.container-fluid
  .col-sm-offset-1.col-sm-10.col-sm-offset-1
    %table.table.table-hover
      %thead
        %tr
          %th Customer Name
          %th Email Address
          %th Address
          %th Phone
          %th Next Service
          %th Update Profile
          %th Delete Profile 
      %tbody
        - current_user.company.each do |a| 
          - a.customers do |b|
            %tr
              - b.contacts do |c|
                %td= c.organization_name.present? ? "#{a.first_name} #{a.last_name}" : f.organization_name
              - c.email_addresses do |d|
                %td= d.name
              - d.addresses do |e|
                %td= "#{e.address_1} #{e.city}, #{e.state} #{e.zip_code}" 
              - e.phone_numbers do |f|            
                %td= f.number
              %td= ""
              %td= link_to "Update", edit_customer_path(f), class: "button btn btn-xs btn-warning"
              %td= link_to "Delete", company_path(f), method: :delete, class: "button btn btn-xs btn-danger"