.container-fluid
  .col-sm-12
    %table.table.table-hover
      %thead
        %tr
          %th Customer Name
          %th Email Address
          %th Address
          %th Phone
          %th Profile 
      %tbody 
        - @customers.each do |f|
          %tr
            %td= "#{f.first_name} #{f.last_name}"
            - f.eaddresses.each do |a|
              - if a.primary == true
                %td= link_to "#{a.name}", "mailto:#{a.name}?subject=A Message from PianoScheduler"
            - f.addresses.each do |b|
              - if b.primary == true
                %td= "#{b.address_1} #{b.city}, #{b.state} #{b.zip_code}"
            - f.phone_numbers.each do |c|            
              - if c.primary == true
                %td= link_to "#{c.number}", "tel:+1-#{c.number}"             
              %td= link_to "View Profile", customer_path(f), class: "button btn btn-xs btn-default"