.container-fluid
  .col-sm-offset-3.col-sm-6.col-sm-offset-3
    %h3 Add a Customer
    = form_for @customer do |f|
      .well
        %label.control-label Name:
        = f.select :salutation, options_for_select(["Dr.", "Mr.", "Mrs.", "Miss"]), {}, {:class => "form-control"}       
        %br
        = f.text_field :first_name, :placeholder => "First name", :class => "form-control"
        %br        
        = f.text_field :last_name, :placeholder => "Last name", :class => "form-control"
        %br
        = f.text_field :organization_name, :placeholder => "Organization name", :class => "form-control"
      .well
        %label.control-label Phone: 
        = f.select :phone_type, options_for_select(["Main", "Home", "Work", "Church", "Other"]), {}, {:class => "form-control"}     
        %br
        = f.text_field :phone, :placeholder => "Phone number", :class => "form-control"
      .well
        %label.control-label Address:    
        = f.text_field :address_1, :placeholder => "Adddress 1", :class => "form-control"
        %br
        = f.text_field :city, :placeholder => "City", :class => "form-control"
        %br        
        = f.text_field :state, :placeholder => "State", :class => "form-control"
        %br
        = f.text_field :zip_code, :placeholder => "Zip Code", :class => "form-control"
      .well
        %label.control-label Email:
        = f.select(:e_address_type, options_for_select(["Main", "Home", "Work", "Church", "Other"]), {}, {:class => "form-control"})
        %br
        = f.text_field :e_address, :placeholder => "Email Address", :class => "form-control"
        = f.hidden_field :company_id
        %br
        = f.submit "Add New Customer", class: "button btn btn-default"