/ = New Customer = /
.container-fluid
  .col-sm-offset-3.col-sm-6.col-sm-offset-3
    %h3 Add a Customer
    = form_for @new_customer do |f|
      .span4
        .well
          .control-group
            %label.control-label Name:
            .form-group
              .form-inline
                = f.select :salutation, options_for_select(["Dr.", "Mr.", "Mrs.", "Miss"]), {:prompt => ""}, {:class => "form-control"}       
                %br
                = f.text_field :first_name, :placeholder => "First name", :class => "form-control"
                %br        
                = f.text_field :last_name, :placeholder => "Last name", :class => "form-control"
                %br
                = f.text_field :organization_name, :placeholder => "Organization name", :class => "form-control"
      .span4
        .well
          .control-group
            %label.control-label Phone:
            .form-group
              .form-inline  
                = f.select :phone_type, options_for_select(["Main", "Home", "Work", "Church", "Other"]), {:prompt => ""}, {:class => "form-control"}     
                = f.text_field :phone, :placeholder => "Phone number", :class => "form-control"
      .span4
        .well
          .control-group
            %label.control-label Address:
            .form-inline     
              = f.text_field :address_1, :placeholder => "Adddress 1", :class => "form-control"
              %br
              = f.text_field :city, :placeholder => "City", :class => "form-control"
              %br        
              = f.text_field :state, :placeholder => "State", :class => "form-control"
              %br
              = f.text_field :zip_code, :placeholder => "Zip Code", :class => "form-control"
      .span4
        .well
          .control-group
            %label.control-label Email:
            .form-inline
              = f.select(:e_address_type, options_for_select(["Main", "Home", "Work", "Church", "Other"]), {:prompt => ""}, {:class => "form-control"})
              %br
              = f.text_field :e_address, :placeholder => "Email Address", :class => "form-control"
              = f.hidden_field :company_id
      %br
      = f.submit "Add Customer", class: "button btn btn-default"