.container-fluid
  .col-lg-12
    .col-lg-4
    .col-lg-4
      %h2= "Update #{@company.name}"

      = form_for @company do |f|
        = f.label "Phone:"
        = f.text_field :phone_number, :class => "form-control"
        %p
        = f.label "Street address:"
        = f.text_field :address_1, :class => "form-control"
        %br
        = f.text_field :address_2, :class => "form-control"
        %p
        = f.label "City:"
        = f.text_field :city, :class => "form-control"
        %p
        = f.label "State:"
        = f.text_field :state, :class => "form-control"
        %p
        = f.label "Zip code:"
        = f.text_field :zip_code, :class => "form-control" 
        %br
        = f.submit "Update Record", :class => "btn btn-success"
        
        = link_to "Return to Profile", company_path, :class => "btn btn-primary"
    .col-lg-4 
