.container-fluid
  .col-sm-offset-3.col-sm-6.col-sm-offset-3
    %h2 Enter your business information.
    = form_for @new_company do |f|
      = f.text_field :name, :placeholder => "Company", :class => "form-control"
      %br
      = f.text_field :phone_number, :placeholder => "Phone Number", :class => "form-control"
      %br 
      = f.text_field :address_1, :placeholder => "Address 1", :class => "form-control"
      %br 
      = f.text_field :city, :placeholder => "City", :class => "form-control"
      %br 
      = f.text_field :state, :placeholder => "State", :class => "form-control"
      %br
      = f.text_field :zip_code, :placeholder => "Zip Code", :class => "form-control"
      %br
      = f.submit "Get Started", :class => "btn btn-success"